{% extends "base.html" %}

{% block page_title %}ECE TA Assignments{% endblock %}

{% block content %}
    
<h3 class="text-dark-green">ECE TA Assignments</h3>
<p>This application allows faculty members to assign TAs to their classes.</p>
{% if has_courses %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Current courses</h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover" id="course-table">
            <thead class="text-dark-green">
                <tr>
                    <th class="col-md-2">Course no.</th>
                    <th class="col-md-4">Course name</th>
                    <th class="col-md-3">Teacher</th>
                    <th class="col-md-3">Number of TAs Assigned</th>
                </tr>
                <tr id="search_box" >
                    <td colspan="12">
                    <input type="text" class="form-control" id="course-table-filter" data-action="filter" data-filters="#course-table" placeholder="Filter Courses" /></td>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td class="col-md-2">{{ course.course_no }}-{{ course.section_no }}</td>
                    <td class="col-md-4">{{ course.course_name }}</td>
                    <td class="col-md-3">{% for faculty in course.faculties.all %}
                            {{ faculty }}<br/>
                        {% endfor %}
                    </td>
                    <td class="col-md-3">{{ course.tas.count }}/{{ course.max_tas }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="alert alert-info">
    There are no classes currently listed.
</div>
{% endif %}
    
{% endblock %}
