{% extends 'base.html' %}

{% block page_title %}TA Assignment Form - Admin Homepage{% endblock %}

{% block content %}

<script type="text/javascript" src="{{ STATIC_URL }}select2-3.4.6/select2.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}select2-3.4.6/select2-bootstrap.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}select2-3.4.6/select2.css">
<script type="text/javascript">
    $(document).ready(function() {
        $("#id_faculties").select2({
            placeholder: "Type in to select a teacher",
            allowClear: true
        });
        
        $("#id_tas").select2({
            placeholder: "Type in to select a TA",
            allowClear: true,
        });
    })
</script>

<form role="form" method="post" class="form-horizontal col-md-8" >
    {% csrf_token %}
    {% if course_form.errors %}
    <div class="alert alert-danger">{{ course_form.errors }}</div>
    {% endif %}
    <h3 class="text-dark-green" >{{ title }}</h3>
    <p>Fill out the course information below:</p>
    <div class="row form-group">
        <label class="control-label col-md-2">{{ course_form.course_no.label }}</label>
        <div class="col-md-3">
            {{ course_form.course_no }}
        </div>
        <div class="col-md-6">
            {{ course_form.course_name }}
        </div>
    </div>
    <div class="row form-group">
        <label class="control-label col-md-2">{{ course_form.section_no.label }}</label>
        <div class="col-md-9">
            {{ course_form.section_no }}
        </div>
    </div>
    <div class="row form-group">
        <label class="control-label col-md-2">{{ course_form.faculties.label }}</label>
        <div class="col-md-9">
            {{ course_form.faculties }}
        </div>
    </div>
    <div class="row form-group">
        <label class="control-label col-md-2">{{ course_form.tas.label }}</label>
        <div class="col-md-3">
            <div id="max_tas">{{ course_form.max_tas }}</div>
        </div>
        <div class="col-md-6">
            {{ course_form.tas }}  
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2">
            <div class="col-md-4">
                <input type="submit" value="Save" class="btn btn-primary btn-block">
            </div>
            <div class="col-md-4">
                <a href="{% url 'courses-list' %}" class="btn btn-default btn-block">Cancel</a>
            </div>
        </div>
    </div>
    
</form>
{% endblock %}
