{% extends 'base.html' %}

{% block page_title %}TA Assignment Form - Admin Homepage{% endblock %}

{% block content %}

<script type="text/javascript" src="{{ STATIC_URL }}select2-3.4.6/select2.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}select2-3.4.6/select2-bootstrap.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}select2-3.4.6/select2.css">
<script type="text/javascript">
    $(document).ready(function() {
        $("#id_faculties").select2({
            placeholder: "Type in to select a teacher",
            allowClear: true
        });
        $("#id_tas").select2({
            placeholder: "Type in to select a TA",
            allowClear: true
        });
    })
</script>

<form role="form" method="post" style="width: 70%" class="form-horizontal" >
    {% csrf_token %}
    {% if course_form.errors %}
    <div class="alert alert-danger">{{ course_form.errors }}</div>
    {% endif %}
    <h3 class="text-dark-green" >{{ title }}</h3>
    <p style="border-bottom: 1px solid #76ad2d; padding-bottom:10px">Fill out the information of a classes in the following fields</p>
    <div class="row form-group">
        <div class="control-label col-md-3 text-dark-green">
            {{ course_form.course_no.label_tag }}
        </div>
        <div class="col-md-3">
            {{ course_form.course_no }}
        </div>
        <div class="col-md-6">
            {{ course_form.course_name }}
        </div>
    </div>
    <div class="row form-group">
        <div class="control-label col-md-3 text-dark-green">
            {{ course_form.faculties.label_tag }}
        </div>
        <div class="col-md-9">
            {{ course_form.faculties }}
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 control-label text-dark-green">
            {{ course_form.tas.label_tag }}
        </div>
        <div class="col-md-9">
            {{ course_form.tas }}  
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-12 col-md-6">
            <input type="submit" value="Save" class="btn btn-primary btn-block">
        </div>
        <div class="col-xs-12 col-md-6">
            <a href="/admin/list_courses" class="btn btn-default btn-block">Cancel</a>
        </div>
    </div>
    
</form>
{% endblock %}