{% extends 'base.html' %}

{% block page_title %}Courses{% endblock %}

{% block content %}
<h3 class="text-dark-green">Course Management</h3>
<p>Here, you can add, edit or delete courses.</p>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Courses</h3>
        <div class="pull-right">
            <span class="clickable"><a href="{% url 'courses-clear' %}">Clear all Courses <i class="glyphicon glyphicon-remove"></i></a></span>
            <span class="clickable"><a href="{% url 'courses-upload' %}">Import Courses <i class="glyphicon glyphicon-cloud-upload"></i></a></span>
            <span class="clickable"><a href="{% url 'courses-create' %}">Add Course</a><i class="glyphicon glyphicon-plus"></i>
            </span> 
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-hover" id="course-table">
            <thead class="text-dark-green">
                <tr>
                    <th class="col-md-2">Course number</th>
                    <th class="col-md-4">Course name</th>
                    <th class="col-md-3">Teacher</th>
                    <th class="col-md-3">Number of TAs</th>
                </tr>
                <tr id="search_box">
                    <td colspan="4">
                        <input type="text" class="form-control" id="course-table-filter" data-action="filter" data-filters="#course-table" placeholder="Filter Courses" />
                    </td>
                </tr>
            </thead>
            {% if courses.count %}
            <tbody>
                {% for course in courses %}
                <tr>
                    <td class="col-md-2">
                        <a data-toggle="modal" data-target="#delete_modal_course_{{ course.id }}" title="Delete" >
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                        <div class="modal fade" id="delete_modal_course_{{ course.id }}" role="dialog">
                            <div class="modal-dialog ">
                                {% include 'courses/modal.html' %}
                            </div>
                        </div>
                        <a href="{% url 'courses-edit' course.id %}">{{ course.course_no }}</a></td>
                    <td class="col-md-4">{{ course.course_name }}</td>
                    <td class="col-md-3">
                        {% for faculty in course.faculties.all %}
                        <span>{{ faculty }}</span><br/>
                        {% endfor %}</td>
                    <td class="col-md-3">{{ course.tas.count }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">There are no classes!</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        
    </div>
</div>

{% endblock %}
