{% extends "base.html" %}

{% block page_title %}Upload Courses{% endblock %}

{% block content %}
<h3 class="text-dark-green"> Upload Courses CSV File </h3>
<p>Upload a csv file containing five columns: course number, section number, course name, max number of TA's, and odin account of the faculty member teaching the class.</p>
<p><strong>Please use the <a href="{{ STATIC_URL }}csv_templates/course.csv" download="courses.csv">template file here</a>.</strong></p>
<form enctype="multipart/form-data" name="UploadCoursesImport" method="post" id="id_form_upload">
    {% csrf_token %}
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    {{ form.file }}

    <br />
    <input type="submit" class="btn btn-primary" name="submit" value="Import" />
    <span class="btn btn-default">
        <a href="{% url 'courses-list' %}">Cancel</a>
    </span>
</form>
{% endblock %}
