{% extends "base.html" %}

{% block page_title %}Teacher's - TAs Upload Courses CSV File{% endblock %}

{% block content %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#id_form_upload').submit(function() {return true;})

        $('#id_file').on('change', function(){
            $('#id_form_upload').trigger('submit')
        })
    })
</script>
<h3 class="text-dark-green"> Upload Courses CSV File </h3>
<p>Click <b>Browse</b> button and upload a csv file contains three column including course number, course name and odin account of faculty member teaching the class.</p>  
<p>Template file is <a href="{{ STATIC_URL }}csv_templates/course.csv">here</a>
<form enctype="multipart/form-data" name="UploadCoursesImport" method="post" id="id_form_upload">
    {% csrf_token %}
    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <span class="btn btn-file btn-primary">
        Browse {{ form.file }}
    </span>
    <span class="btn btn-default">
        <a href="{% url 'courses-list' %}">Cancel</a>
    </span>
</form>
{% endblock %}
