{% extends 'base.html' %}

{% block page_title %}Create or Edit User{% endblock %}

{% block content %}

<form role="form" method="post" class="form-horizontal col-md-8">
    {% csrf_token %}
    {% if user_form.errors %}
        <div class="alert alert-danger">
            {{ user_form.errors }}
        </div>
    {% endif %}
    <h3 class="text-dark-green" >
        {{ title }}
    </h3>
    <p style="">
        Fill in the user information below:
    </p>
    <div class="form-group">
        <label class="control-label col-md-2">{{ user_form.first_name.label }}</label>
        <div class="col-md-5">
            {{ user_form.first_name }}
        </div>
        <div class="col-md-5">
            {{ user_form.last_name }}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">{{ user_form.username.label }}</label>
        <div class="col-md-5">
            {{ user_form.username }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3 control-label text-dark-green">
            {{ user_form.is_staff }}
            {{ user_form.is_staff.label }}
        </div>
        <div class="col-md-3 control-label text-dark-green">
            {{ user_form.is_faculty}}
            {{ user_form.is_faculty.label}}
        </div>
         <div class="col-md-3 control-label text-dark-green">
            {{ user_form.is_ta}}
            {{ user_form.is_ta.label}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2">
            <div class="col-md-4">
                <input type="submit" value="Save" class="btn btn-primary btn-block">
            </div>
            <div class="col-md-4">
                <a href="{% url 'users-list' %}" class="btn btn-default btn-block">Cancel</a>
            </div>
        </div>
    </div>
</form>


{% endblock %}
