{% extends 'base.html' %}

{% block page_title %}TA Assignment Form - Admin Homepage{% endblock %}

{% block content %}

<form role="form" method="post" style="width: 70%" class="form-horizontal">
    {% csrf_token %}
    {% if user_form.errors %}
        <div class="alert alert-danger">
            {{ user_form.errors }}
        </div>
    {% endif %}
    <h3 class="text-dark-green" >
        {{ title }}
    </h3>
    <p style="border-bottom: 1px solid #76ad2d; padding-bottom:10px">
        Fill out the information of users in the following boxes
    </p>
    <div class="row form-group">
        <div class="col-md-2">
            <div class="control-label text-dark-green">
                {{ user_form.first_name.label_tag }}
            </div>
        </div>
        <div class="col-md-5">
            {{ user_form.first_name }}
        </div>
        <div class="col-md-5">
            {{ user_form.last_name }}
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-2 control-label text-dark-green">
            {{ user_form.username.label_tag }}
        </div>
        <div class="col-md-6">
            {{ user_form.username }}
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 control-label text-dark-green">
            {{ user_form.is_staff }} 
            {{ user_form.is_staff.label }}
        </div>
        <div class="col-md-3 control-label text-dark-green">
            {{ user_form.is_faculty}}
            {{ user_form.is_faculty.label}}
        </div>
         <div class="col-md-3 control-label text-dark-green">
            {{ user_form.is_ta}}
            {{ user_form.is_ta.label}}
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-6 col-md-6">
            <input type="submit" value="Save" class="btn btn-primary btn-block" tabindex="7">
        </div>
        <div class="col-xs-6 col-md-6">
            <a href="/admin/list_users" class="btn btn-default btn-block">Cancel</a>
        </div>
    </div>
    
</form>
{% endblock %}
