{% extends 'base.html' %}

{% block page_title %}TA Assignment Form - Admin Homepage{% endblock %}

{% block content %}
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap-3.1.1-dist/js/panel.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap-3.1.1-dist/css/panel.css">

<div class="container">
    <h3>You as an admin can add or change any class and TAs here!</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Courses</h3>
                    <div class="pull-right">
                        <span class="clickable">Import Course <i class="glyphicon glyphicon-cloud-upload"></i></span>
                        <span class="clickable"><a href="/admin/add_course">Add Course</a><i class="glyphicon glyphicon-plus"></i>
                        </span> 
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" id="course-table">
                        <thead class="text-dark-green">
                            <tr>
                                <th>Course number</th>
                                <th>Course name</th>
                                <th>Teacher</th>
                                <th>Number of TAs</th>
                            </tr>
                        </thead>
                        {% if courses.count %}
                            <tr id="search_box">
                                <td colspan="4">
                                    <input type="text" class="form-control" id="course-table-filter" data-action="filter" data-filters="#course-table" placeholder="Filter Courses" />
                                </td>
                            </tr>
                            {% for course in courses %}
                                <tr>
                                    <td>
                                        <a data-toggle="modal" data-target="#delete_modal_course_{{ course.id }}" title="Delete" >
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </a>
                                        <div class="modal fade" id="delete_modal_course_{{ course.id }}" role="dialog">
                                            <div class="modal-dialog ">
                                                {% include 'admin/staff_delete_course.html' %}
                                            </div>
                                        </div>
                                        <a href="/admin/edit_course/{{ course.id }}">{{ course.course_no }}</a>
                                    </td>
                                    <td>{{ course.course_name }}</td>
                                    <td>{% for faculty in course.faculties.all %}
                                        <span>{{ faculty.get_full_name }}</span><br/>
                                        {% endfor %}
                                    </td>
                                    <td>{{ course.tas.count }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="4">There is no class currently. Please add class.</td>
                        </tr>
                        {% endif %}
                        
                    </table>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="panel panel-primary filterable">
                <div class="panel-heading">
                    <h3 class="panel-title">Users</h3>
                    <div class="pull-right">
                        <span class="clickable">Import TA <i class="glyphicon glyphicon-cloud-upload"></i></span>
                        <span class="clickable add_user"><a href="/admin/add_user">Add User</a><i class="glyphicon glyphicon-plus"></i>
                        </span> 
                    </div>
                    
                    
                </div>
                <div class="panel-body">
                    <table class="table table-hover" id="user-table">
                        <thead class="text-dark-green">
                            <tr>
                                <th>Username</th>
                                <th>Full name</th>
                                <th>Staff</th>
                                <th>Faculty</th>
                                <th>TA</th>
                            </tr>
                        </thead>
                        {% if users.count %}
                            <tr id="search_box">
                                <td colspan="5">
                                    <input type="text" class="form-control" id="course-table-filter" data-action="filter" data-filters="#user-table" placeholder="Filter Users" />
                                </td>
                            </tr>
                            {% for user in users %}
                                <tr>
                                    <td>
                                        <a data-toggle="modal" data-target="#delete_modal{{ user.id }}" title="Delete" >
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </a>
                                        <div class="modal fade" id="delete_modal{{ user.id }}" role="dialog">
                                            <div class="modal-dialog ">
                                                {% include 'admin/staff_delete_user.html' %}
                                            </div>
                                        </div>
                                        <a href="/admin/edit_user/{{ user.id }}">
                                            {{ user.username }}
                                        </a>
                                    </td>
                                    <td>{{ user.get_full_name }}</td>
                                    {% if user.is_staff %}
                                        <td><i class="glyphicon glyphicon-ok"></i></td>
                                    {% else %}
                                        <td><i class="glyphicon glyphicon-remove"></i></td>
                                    {% endif %}

                                    {% if user.is_faculty %}
                                        <td><i class="glyphicon glyphicon-ok"></i></td>
                                    {% else %}
                                        <td><i class="glyphicon glyphicon-remove"></i></td>
                                    {% endif %}
                                    {% if user.is_ta %}
                                        <td><i class="glyphicon glyphicon-ok"></i></td>
                                    {% else %}
                                        <td><i class="glyphicon glyphicon-remove"></i></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="4">There is no user currently. Please add class.</td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
