{% extends "base.html" %}

{% block page_title %}Teacher's - TAs Assign to Course{% endblock %}

{% block content %}
	{% if has_courses %}
    <div class="table-responsive">
          <table class="table">
              <thead>
            <tr bgcolor=#101010>
                        <th><strong><font color="white">Teacher</th></font></strong>
                        <th><strong><font color="white">Course No.</th></font></strong>
                        <th><strong><font color="white">Course Name</th></font></strong>
                        <th><strong><font color="white">TA's</th></font></strong>
        </font><strong>
			</tr>
		</thead>
		{% for course in courses %}
		<tr class="active">
		    {% for teacher in course.faculties.all %}
            <td><strong> {{ teacher.first_name}} {{teacher.last_name }}</strong></td>
            {% endfor %}
            <td><strong>{{ course.course_no }}</strong></td>
                <td><strong>{{ course.course_name }}</strong></td>
                    <td><strong>{{ course.total }}</strong></td> 
        </tr>
        {% if course.tas.all %}
        <tr><td Colspan=4 class="info"><ol>
		    {% for ta in course.tas.all %}
            <li>TA -  {{ ta.username }} / {{ ta.last_name }}, {{ ta.first_name }} </li>
            {% endfor %}
        </ol></td></tr>
        {% endif %}
            {% endfor %}
    </table></div>
    <h4>Total: {{ no_of_courses }}</h4>
	{% else %}
	<h4>There is no class available at the moment. Contact admin to add courses</h4>
	{% endif %}
{% endblock %}
